body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3rem 10rem;
}

a:link,
a:visited {
  text-decoration: none;
  color: #fff;
}

.btn-white {
  border: 1px solid #fff;
  padding: 5px 2rem;
  background-color: transparent;
  color: #fff;
  text-transform: uppercase;
}

.btn-brown {
  background-color: #170a00;
  color: #fff;
  text-transform: uppercase;
  border: none;
  padding: 1.2rem 3.2rem;
}

.nav-list {
  display: flex;
  align-items: center;
  gap: 2.4rem;
  color: #fff;
  font-size: 1.4rem;
  list-style: none;
  text-transform: uppercase;
}

.hero {
  background-image: url("./assets/iveria-1.jpg");
  background-position: center;
  background-size: cover;
}

.hero-2,
.hero-3,
.hero-4 {
  background-position: center;
  background-size: cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 9.6rem;
}

.section-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.heading-secondary {
  color: #fff;
  font-size: 2rem;
  text-transform: uppercase;
}
.bar,
.restaurant {
  text-transform: uppercase;
  font-size: 1rem;
  color: #fff;
}

/* SECTION-2 */
.section-2 {
  height: 60vh;
}

.iveria-life {
  width: 50%;
  margin: 0 auto;
  text-align: center;
  padding: 12.6rem 3.2rem;
}

.heading-experience {
  font-size: 1.8rem;
  margin-bottom: 2rem;
}

.description {
  font-size: 1.5rem;
  color: #170a00;
}

/* SECTION-3 */

.hero-2 {
  background-image: url("./assets/iveria-2.jpg");
}

.eat-drink {
  text-align: center;
}

.heading {
  text-transform: uppercase;
  font-size: 2.4rem;
  color: #fff;
  letter-spacing: 1.5px;
  margin-bottom: 2rem;
}

.eat-drink-btn {
  cursor: pointer;
  color: #fff;
  border: 1px solid #fff;
  padding: 8px 3.2rem;
  background-color: transparent;
  text-transform: uppercase;
  letter-spacing: 2px;
}

/* SECTION-4 */

.section-4 {
  height: 40vh;
}

.booking-section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.booking-box {
  text-align: center;
}

/* SECTION-5 */

.section-5 {
  margin-bottom: 9.6rem;
}
.our-space {
  background-image: url("./assets/iveria-3.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 9.6rem;
}

.btn-gallery {
  padding: 1rem 4.2rem;
}

.space-box {
  padding: 0 15rem;
  margin-bottom: 5rem;
}

.space-img {
  width: 100%;
}

.space-description-text-box {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5rem;
}

.description-text-box {
  width: 60%;
  text-align: center;
}

.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  padding: 0 25rem;
  justify-items: center;
  align-items: center;
  row-gap: 5rem;
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
}

.top-left {
  grid-column: 1;
  grid-row: 1;
}

.top-right {
  grid-column: 3;
  grid-row: 1;
}

.middle {
  grid-column: 2;
  grid-row: 2;
}

.bottom-left {
  grid-column: 1;
  grid-row: 3;
}

.bottom-right {
  grid-column: 3;
  grid-row: 3;
}

.span-description {
  text-transform: uppercase;
  letter-spacing: 1.1px;
}

/* SECTION-6 */

.hero-3 {
  background-image: url(./assets/iveria-1.jpg);
  background-position: center;
  background-size: cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 9.6rem;
}

.events-description-box {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 6.4rem;
}

.event-description-text {
  width: 50%;
}

/* SECTION-7 */

.hero-4 {
  background-image: url(./assets/iveria-3.jpg);
}

.functions-description-box {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  margin-bottom: 6.4rm;
}

.functions-description-text {
  width: 50%;
}

.learn-more {
  font-size: 1.6rem;
  color: #ba8746 !important;
  border-bottom: 1px solid #ba8746;
}
